.idea/**
.gradle/**
**/build/**
.kotlin

node_modules
package-lock.json
kotlin-js-store/yarn.lock

certificate.jks
centyllion.jks

web/webroot/js/centyllion
web/webroot/css/centyllion
web/webroot/version.json
web/webroot/netbiodyn23.tar.gz

db/docker/db-*.tar

