.media {
  box-shadow: 0 3px 4px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  color: #011f4b;
  background-color: #fafafa;
  padding: 1.25rem;
}

.cent-main {
  margin: 2rem;
}

.card.is-outlined, .media.is-outlined, .box.is-outlined {
  border-radius: 6px;
  border-color: #011f4b;
  border-style: solid;
  border-width: 1px;
}

canvas.cent-simulation {
  border-radius: 6px;
  border-style: solid;
  border-width: 1px;
}

canvas.is-primary {
  border-color: #011f4b !important;
}

canvas.is-info {
  border-color: #6497b1 !important;
}

canvas.is-success {
  border-color: #3fde77 !important;
}

canvas.is-warning {
  border-color: #ffdd57 !important;
}

canvas.is-danger {
  border-color: #ff6181 !important;
}

.delete {
  background-color: #b3cde0;
}
